iot/node-red-data/flows.json
[
    {
        "id": "df47cc4624cac1c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1trashtrack0000001",
        "type": "tab",
        "label": "TrashTrack - IoT Bridge (Sprint 2)",
        "disabled": false,
        "info": "Pipeline: MQTT (simulator.py) -> Lookup -> Transform -> OAuth token (cached) -> POST ke Gateway /iot/telemetry -> retry handling"
    },
    {
        "id": "cfgmqttbroker0000001",
        "type": "mqtt-broker",
        "name": "Mosquitto Lokal",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfgmqttbrokerhivemq01",
        "type": "mqtt-broker",
        "name": "HiveMQ Publik (Wokwi)",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "n1mqttin000000001",
        "type": "mqtt in",
        "z": "f1trashtrack0000001",
        "name": "MQTT In: city/+/waste",
        "topic": "city/+/waste",
        "qos": "1",
        "datatype": "utf8",
        "broker": "cfgmqttbroker0000001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "n2jsonparse00000001"
            ]
        ]
    },
    {
        "id": "n1bmqttinhivemq001",
        "type": "mqtt in",
        "z": "f1trashtrack0000001",
        "name": "MQTT In: city/+/waste (Wokwi/HiveMQ)",
        "topic": "city/+/waste",
        "qos": "1",
        "datatype": "utf8",
        "broker": "cfgmqttbrokerhivemq01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 150,
        "wires": [
            [
                "n2jsonparse00000001"
            ]
        ]
    },
    {
        "id": "n2jsonparse00000001",
        "type": "json",
        "z": "f1trashtrack0000001",
        "name": "JSON Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "n3func1lookup000001"
            ]
        ]
    },
    {
        "id": "n3func1lookup000001",
        "type": "function",
        "z": "f1trashtrack0000001",
        "name": "1. Lookup Bin Mapping",
        "func": "// =============================================================\n// Node-RED Function Node: \"1. Lookup Bin Mapping\"\n// TrashTrack - Sprint 2 - Node-RED Data Pipeline Bridge\n//\n// CARA PAKAI DI NODE-RED:\n// 1. Buat node Function baru, beri nama \"1. Lookup Bin Mapping\"\n// 2. Copy seluruh isi file ini ke tab \"On Message\"\n// 3. Sambungkan setelah node \"JSON Parse\" (sebelum node transform)\n//\n// FUNGSI:\n// simulator.py mengirim \"bin_id\" bergaya BIN-Z1-01 (per zona simulasi),\n// sedangkan tabel trash_bins di Laravel (lihat database/seeders/\n// TrashBinSeeder.php) memakai bin_code & id auto-increment yang\n// berbeda format (BIN-MNT-001, BIN-KBY-001, dst).\n//\n// Supaya pipeline bisa jalan end-to-end tanpa mengubah simulator\n// maupun seeder Laravel, kita map tiap \"zone\" simulator ke SATU\n// trash_bin_id yang valid & sudah ada di database Laravel.\n//\n// PENTING: Sesuaikan pemetaan ini dengan trash_bin_id yang BENAR\n// ada di database Anda. Jalankan query berikut di Laravel untuk\n// memastikan:\n//\n//   php artisan tinker\n//   >>> \\App\\Models\\TrashBin::select('id','bin_code')->get();\n//\n// Lalu sesuaikan ZONE_TO_BIN di bawah ini (trash_bin_id WAJIB\n// cocok dengan kolom \"id\" di tabel trash_bins; capacity_liters\n// dipakai node selanjutnya untuk mengonversi fill_level % menjadi\n// distance_cm, jadi harus sama dengan kolom capacity_liters bin\n// tersebut di database).\n// =============================================================\n\n// id & capacity_liters HARUS sama dengan baris di\n// database/seeders/TrashBinSeeder.php (urutan insert = urutan id 1..N)\nconst ZONE_TO_BIN = {\n    zone1: { trash_bin_id: 1, capacity_liters: 100 },\n    zone2: { trash_bin_id: 2, capacity_liters: 80 },\n    zone3: { trash_bin_id: 3, capacity_liters: 120 },\n    zone4: { trash_bin_id: 4, capacity_liters: 100 },\n    zone5: { trash_bin_id: 5, capacity_liters: 150 },\n};\n\nconst raw = msg.payload;\n\n// Validasi payload dasar dari simulator.py / Wokwi\nif (!raw || !raw.zone || !raw.bin_id || raw.fill_level === undefined) {\n    node.warn(\"Payload tidak lengkap, di-skip: \" + JSON.stringify(raw));\n    return null;\n}\n\nconst binInfo = ZONE_TO_BIN[raw.zone];\n\nif (!binInfo) {\n    node.warn(`Zone \"${raw.zone}\" tidak terdaftar di ZONE_TO_BIN, payload di-skip.`);\n    return null;\n}\n\n// Simpan hasil lookup ke msg, dipakai oleh node\n// \"2. Transform Payload\" berikutnya. msg.payload tidak diubah\n// dulu di sini supaya data mentah masih bisa dipakai/didebug.\nmsg.trash_bin_id = binInfo.trash_bin_id;\nmsg.capacity_liters = binInfo.capacity_liters;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "n4func2transform0001"
            ]
        ]
    },
    {
        "id": "n4func2transform0001",
        "type": "function",
        "z": "f1trashtrack0000001",
        "name": "2. Transform Payload",
        "func": "// =============================================================\n// Node-RED Function Node: \"2. Transform Payload\"\n// TrashTrack - Sprint 2 - Node-RED Data Pipeline Bridge\n//\n// CARA PAKAI DI NODE-RED:\n// 1. Buat node Function baru, beri nama \"2. Transform Payload\"\n// 2. Copy seluruh isi file ini ke tab \"On Message\"\n// 3. Sambungkan setelah node \"1. Lookup Bin Mapping\"\n//    dan SEBELUM node \"HTTP Request\" (POST ke gateway)\n//\n// FUNGSI:\n// Catatan penting: skema field di dokumen Sprint 2 (zone_id, gas_ppm,\n// bin_status, dst.) TIDAK sesuai dengan kontrak asli yang divalidasi\n// backend/app/Http/Requests/StoreTelemetryRequest.php. Validator\n// Laravel itu sebenarnya mewajibkan field: trash_bin_id, distance_cm,\n// methane_ppm, temperature_c, raw_payload (opsional). Function node\n// ini mengikuti kontrak ASLI di kode Laravel, bukan dokumen.\n//\n// Konversi fill_level (%) -> distance_cm mengikuti rumus kebalikan\n// dari IoTReceiverController::storeTelemetry():\n//   volumePct   = ((tinggi_cm - distance_cm) / tinggi_cm) * 100\n//   distance_cm = tinggi_cm * (1 - volumePct / 100)\n// dengan asumsi tinggi_cm = capacity_liters (1 liter = 1 cm tinggi,\n// sesuai komentar di IoTReceiverController.php).\n// =============================================================\n\nconst raw = msg.payload;\nconst trashBinId = msg.trash_bin_id;\nconst capacityLiters = msg.capacity_liters;\n\nif (!trashBinId || !capacityLiters) {\n    node.warn(\"trash_bin_id / capacity_liters belum ada di msg. \" +\n        \"Pastikan node '1. Lookup Bin Mapping' berjalan sebelum node ini.\");\n    return null;\n}\n\n// Konversi fill_level (%) menjadi distance_cm (kebalikan rumus Laravel)\nconst binHeightCm = capacityLiters; // asumsi 1 liter = 1 cm tinggi\nlet distanceCm = binHeightCm * (1 - raw.fill_level / 100);\ndistanceCm = Math.max(0, Math.min(400, distanceCm)); // sesuai rule \"min:0|max:400\"\ndistanceCm = Math.round(distanceCm * 100) / 100;\n\n// Body sesuai StoreTelemetryRequest.php\nmsg.payload = {\n    trash_bin_id: trashBinId,\n    distance_cm: distanceCm,\n    methane_ppm: raw.gas_level,\n    temperature_c: raw.temperature,\n    // raw_payload disimpan utuh di Laravel (kolom JSON) untuk audit/debug,\n    // berisi payload asli dari simulator.py / Wokwi\n    raw_payload: raw,\n};\n\n// Header untuk HTTP Request node (Authorization di-set oleh node\n// \"Get OAuth Token\" sebelumnya lewat msg.headers, jadi di sini\n// kita hanya pastikan Content-Type ikut terkirim)\nmsg.headers = Object.assign({}, msg.headers, {\n    \"Content-Type\": \"application/json\",\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 100,
        "wires": [
            [
                "n5func3tokencache001"
            ]
        ]
    },
    {
        "id": "n5func3tokencache001",
        "type": "function",
        "z": "f1trashtrack0000001",
        "name": "3. Check Token Cache",
        "func": "// =============================================================\n// Node-RED Function Node: \"3. Check Token Cache\"\n// TrashTrack - Sprint 2 - Node-RED Data Pipeline Bridge\n//\n// CARA PAKAI DI NODE-RED:\n// 1. Buat node Function baru, beri nama \"3. Check Token Cache\"\n// 2. Copy seluruh isi file ini ke tab \"On Message\"\n// 3. Set \"Outputs\" node ini jadi 1 (default)\n// 4. Sambungkan node ini SETELAH \"2. Transform Payload\"\n// 5. Keluaran node ini dicabangkan ke node Switch:\n//    - msg.needNewToken === true  -> ke node \"Get OAuth Token\" (HTTP Request)\n//    - msg.needNewToken === false -> langsung ke node \"HTTP Request ke Gateway\"\n//    (gunakan node \"Switch\" dengan 2 rule berdasarkan msg.needNewToken)\n//\n// FUNGSI:\n// Token JWT dari oauth-server berlaku 1 jam (JWT_EXPIRES_IN=1h).\n// Supaya Node-RED tidak minta token baru setiap kali ada data MQTT\n// masuk (tiap 30 detik x 4 zona = boros & membebani oauth-server),\n// token disimpan di flow context dan dipakai ulang sampai mendekati\n// expired (kita beri buffer 60 detik sebelum benar-benar expired).\n// =============================================================\n\nconst cachedToken = flow.get(\"iot_access_token\");\nconst expiresAt = flow.get(\"iot_token_expires_at\") || 0;\nconst now = Date.now();\nconst SAFETY_BUFFER_MS = 60 * 1000; // minta token baru 60 detik sebelum expired\n\nif (cachedToken && now < (expiresAt - SAFETY_BUFFER_MS)) {\n    // Token masih valid, langsung pakai dari cache\n    msg.headers = Object.assign({}, msg.headers, {\n        Authorization: \"Bearer \" + cachedToken,\n    });\n    msg.needNewToken = false;\n} else {\n    msg.needNewToken = true;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "n6switchtoken0000001"
            ]
        ]
    },
    {
        "id": "n6switchtoken0000001",
        "type": "switch",
        "z": "f1trashtrack0000001",
        "name": "needNewToken?",
        "property": "needNewToken",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "n7func4preptoken0001"
            ],
            [
                "n10httpgateway000001"
            ]
        ]
    },
    {
        "id": "n7func4preptoken0001",
        "type": "function",
        "z": "f1trashtrack0000001",
        "name": "4. Prepare Token Request",
        "func": "// =============================================================\n// Node-RED Function Node: \"4. Prepare Token Request\"\n// TrashTrack - Sprint 2 - Node-RED Data Pipeline Bridge\n//\n// CARA PAKAI DI NODE-RED:\n// 1. Buat node Function baru, beri nama \"4. Prepare Token Request\"\n// 2. Copy seluruh isi file ini ke tab \"On Message\"\n// 3. Sambungkan dari cabang \"needNewToken === true\" (lihat node\n//    Switch setelah \"3. Check Token Cache\")\n// 4. Setelah node ini, sambungkan ke node \"HTTP Request\" yang\n//    method-nya POST, URL = env.OAUTH_URL (gunakan node\n//    \"Get OAuth Token\")\n//\n// FUNGSI:\n// Menyiapkan msg.payload & msg.headers untuk request\n// POST /oauth/token dengan grant_type=client_credentials,\n// memakai kredensial client \"iot-device\" (lihat\n// oauth-server/src/models/tokenStore.js).\n//\n// PENTING: msg asli (payload telemetry yang sudah ditransform)\n// disimpan dulu ke msg._originalMsg supaya tidak hilang — nanti\n// dikembalikan oleh node \"5. Store Token & Resume\" setelah token\n// baru diterima.\n// =============================================================\n\n// Simpan payload telemetry asli supaya tidak tertimpa\nmsg._originalPayload = msg.payload;\nmsg._originalHeaders = msg.headers;\n\nmsg.payload = {\n    grant_type: \"client_credentials\",\n    client_id: env.get(\"OAUTH_CLIENT_ID\") || \"iot-device\",\n    client_secret: env.get(\"OAUTH_CLIENT_SECRET\") || \"iot-secret\",\n    scope: \"service\",\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "n8httpoauth00000001"
            ]
        ]
    },
    {
        "id": "n8httpoauth00000001",
        "type": "http request",
        "z": "f1trashtrack0000001",
        "name": "Get OAuth Token (POST OAUTH_URL)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3002/oauth/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "n9func5storetoken001"
            ]
        ]
    },
    {
        "id": "n9func5storetoken001",
        "type": "function",
        "z": "f1trashtrack0000001",
        "name": "5. Store Token & Resume",
        "func": "// =============================================================\n// Node-RED Function Node: \"5. Store Token & Resume\"\n// TrashTrack - Sprint 2 - Node-RED Data Pipeline Bridge\n//\n// CARA PAKAI DI NODE-RED:\n// 1. Buat node Function baru, beri nama \"5. Store Token & Resume\"\n// 2. Copy seluruh isi file ini ke tab \"On Message\"\n// 3. Sambungkan SETELAH node HTTP Request \"Get OAuth Token\"\n//    (response dari POST /oauth/token)\n// 4. Setelah node ini, sambungkan ke node \"HTTP Request ke Gateway\"\n//    (yang sama dengan yang dipakai oleh cabang token-dari-cache)\n//\n// FUNGSI:\n// 1. Menyimpan access_token baru ke flow context (dipakai lagi oleh\n//    node \"3. Check Token Cache\" di siklus berikutnya).\n// 2. Mengembalikan msg.payload ke payload telemetry ASLI (yang sempat\n//    disimpan ke msg._originalPayload oleh node\n//    \"4. Prepare Token Request\"), supaya tidak hilang tertimpa\n//    response oauth-server.\n// =============================================================\n\nconst body = msg.payload; // response dari POST /oauth/token\n\nif (!body || body.status !== \"success\" || !body.data || !body.data.access_token) {\n    node.error(\"Gagal mendapatkan token dari OAuth server: \" + JSON.stringify(body));\n    return null;\n}\n\nconst accessToken = body.data.access_token;\nconst expiresInSec = body.data.expires_in || 3600;\nconst expiresAt = Date.now() + expiresInSec * 1000;\n\n// Simpan ke flow context untuk dipakai ulang oleh pesan-pesan berikutnya\nflow.set(\"iot_access_token\", accessToken);\nflow.set(\"iot_token_expires_at\", expiresAt);\n\nnode.log(`Token IoT baru diperoleh, berlaku ${expiresInSec} detik.`);\n\n// Kembalikan payload telemetry yang sempat disimpan, lalu pasang\n// header Authorization dengan token yang baru saja diterima\nmsg.payload = msg._originalPayload;\nmsg.headers = Object.assign({}, msg._originalHeaders, {\n    Authorization: \"Bearer \" + accessToken,\n});\n\ndelete msg._originalPayload;\ndelete msg._originalHeaders;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 360,
        "wires": [
            [
                "n10httpgateway000001"
            ]
        ]
    },
    {
        "id": "n10httpgateway000001",
        "type": "http request",
        "z": "f1trashtrack0000001",
        "name": "POST ke Gateway /iot/telemetry",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/iot/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 260,
        "wires": [
            [
                "n11func6checkresp001"
            ]
        ]
    },
    {
        "id": "n11func6checkresp001",
        "type": "function",
        "z": "f1trashtrack0000001",
        "name": "6. Check Response & Retry",
        "func": "// =============================================================\n// Node-RED Function Node: \"6. Check Response & Retry\"\n// TrashTrack - Sprint 2 - Node-RED Data Pipeline Bridge\n//\n// CARA PAKAI DI NODE-RED:\n// 1. Buat node Function baru, beri nama \"6. Check Response & Retry\"\n// 2. Copy seluruh isi file ini ke tab \"On Message\"\n// 3. Sambungkan SETELAH node HTTP Request ke Gateway\n//    (POST /iot/telemetry)\n// 4. Set \"Outputs\" node ini jadi 2:\n//    Output 1 -> ke node Debug \"Sukses\"\n//    Output 2 -> ke node Delay \"Retry 60s\" lalu balik lagi ke\n//                node HTTP Request ke Gateway\n//\n// FUNGSI:\n// Sesuai requirement dokumen Sprint 2 (§3.4 Error Handling Node-RED):\n// - Jika HTTP Gateway mengembalikan 502/503 (upstream/gateway down),\n//   data TIDAK dibuang, tapi dikirim ke jalur retry.\n// - msg.retryCount dihitung supaya tidak retry selamanya (maks 5x,\n//   bisa disesuaikan).\n// - Status code 200/201 dianggap sukses.\n// =============================================================\n\nconst statusCode = msg.statusCode;\nconst MAX_RETRY = 5;\n\nmsg.retryCount = (msg.retryCount || 0) + 1;\n\nif (statusCode === 200 || statusCode === 201) {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"OK \" + statusCode });\n    return [msg, null]; // output 1: sukses\n}\n\n// Retry hanya untuk error upstream/gateway (data sensor tetap valid,\n// hanya gateway/backend yang sedang tidak tersedia)\nconst isRetryableError = statusCode === 502 || statusCode === 503 || statusCode === undefined;\n\nif (isRetryableError && msg.retryCount <= MAX_RETRY) {\n    node.warn(`Gateway tidak tersedia (status=${statusCode}), retry ke-${msg.retryCount} dalam 60 detik...`);\n    node.status({ fill: \"yellow\", shape: \"ring\", text: `retry ${msg.retryCount}/${MAX_RETRY}` });\n    return [null, msg]; // output 2: retry\n}\n\n// Error selain itu (mis. 401/422 — token salah / validasi gagal)\n// atau sudah melebihi batas retry -> jangan retry lagi, cukup log\nnode.error(`Gagal kirim telemetry setelah ${msg.retryCount} percobaan, status=${statusCode}: ` +\n    JSON.stringify(msg.payload));\nnode.status({ fill: \"red\", shape: \"dot\", text: \"FAILED \" + statusCode });\nreturn [null, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "n12debugok000000001"
            ],
            [
                "n13delayretry0000001"
            ]
        ]
    },
    {
        "id": "n12debugok000000001",
        "type": "debug",
        "z": "f1trashtrack0000001",
        "name": "Sukses",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 300,
        "wires": []
    },
    {
        "id": "n13delayretry0000001",
        "type": "delay",
        "z": "f1trashtrack0000001",
        "name": "Retry 60s",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "n10httpgateway000001"
            ]
        ]
    }
]